body{
    font-family: 'Lato', sans-serif;
}

#first_section{
    background: url(../images/bg-pattern.png),-webkit-gradient(linear,right top,left top,from(#7b4397),to(#dc2430));
}


#first_section section p{
    font-size: 40px;
    line-height: 50px;
 }

.first-navbar{
    font-size:10px;
    font-weight: bold;
    letter-spacing:1px;
}

.first-navbar .navbar-brand{
    font-size: 15px;
}

.badge-pill{
    font-size:9px;
    letter-spacing: 2px;
    padding:13px 30px;
}
 
.iconify{
     font-size:58px;
     color:#a53d69;  
     display:block;
     width:100%;
     margin-bottom:10px;
 }
 
#second_section{
    background:#fcc94a;
}

#third_section{
    background:white;
}

#third_section>div{
    width:75%;
}

#third_section>div>div{
    margin-bottom:100px;
}

#third_section>div>div p{
    font-weight: bold;    
}

#third_innerSection h5:nth-child(2){
    font-size: 24px;
}

#third_innerSection p:last-child{
    color:grey;
    text-shadow: 1px 0px 0px grey;
    font-size:14px;
}

#fourth_section{
    background-image:url(../images/bg-cta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:90vh;
    width:100%;
}

#fourth_section::before{
    content:" ";
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.6);
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

#fourth_section>div
{
    top:25%;
    left:18%;
    z-index: 2;
    color:white;
}

#fourth_section>div>h1{   
    font-size:4.5vw;
}

.second-navbar{
    visibility: hidden;
}


#fifth_section{
    background: #fdc846;
}

.fab{
    font-size:26px;
    width:60px;
}

footer{
    background:#222222;
    font-size:12px;
    color:#585858;
}


@media only screen and (max-width: 600px) {


.first-navbar {
    visibility: hidden;
}

.first-badge-pill{
    font-size:8px;
    letter-spacing: 2px;
    width:80%;
}

#second_section>div h5{
    font-size:32px;
}

#second_section>div p{
    font-size:10px;
}

#third_section>div{
    width:90%;
}

#third_section>div>div h2{
    font-size: 22px;
}

#third_section>div>div p{
    font-size: 8px;
}

.download_images{
    width:100%;
}

#fourth_section>div{
    width:75%;
    padding:130px 0px;
}


#fourth_section>div>h1{ 
    width:100%;  
    font-size:38px;
}

.second-badge-pill{   
    font-size:6px;
    padding:10px;
}

#fifth_section>div{
    width:85%;
    margin:0 auto;
    text-align: center;
}

#fifth_section>div>div>h1{
    font-size:34px;
}

.second-navbar{
    visibility: visible;
  
    background:white;
    margin-top:20px;
    padding:0px 20px;
}

.navbar-toggler {
    background:white;
    font-size:14px;
    color:#5a5a5a;
    border:1px solid #5a5a5a;
   
}


#fifth_section>div{
    padding:150px 0px;
}

}